name: Update README with latest blog posts

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Pull latest blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://letanure.dev/feed.xml"
          max_post_count: 5
          template: "- [$title]($url)"
          commit_message: "docs: update README with latest blog posts"
